<script>
	$(document).ready(function() {
        $('#calendar').fullCalendar({
            events: '/events.json',
            eventColor: '#378006'
        });
    });
</script>

<div id='calendar' style="width:500px; height:200px"></div>